.main {
    width: 30%;
    border: 1px solid gray;
    height: 500px;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.textOrtala {
    text-align: center;
}

.text {
    font-size: 18px;
    color: gray;
}

.progress {
    width: 250px;
    height: 250px;
    border: 10px solid yellow;
    margin: auto;
    border-radius: 50%;
    padding-top: 15px;
    box-sizing: border-box;
}

.score {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 1px;
}

.point {
    font-size: 25px;
}

.subPart {
    background-color: white;
    position: absolute;
    top: 48%;
    left: 0;
    height: 50%;
    width: 100%;
}

.shapes {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.shape {
    border-radius: 6px;
    padding: 5px 9px;
    box-sizing: border-box;
    width: 35%;
    border: 1px solid rgb(0, 0, 0);
}

.shape-text-first {
    font-size: 25px;
    font-weight: bold;
}